*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;
}
#root{
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App{
  width:  1000px;
}
.input__container{
  width: 100%;
}
.post{
  display:  flex;
  border: 2px solid green ;
  padding:  15px;
  border-radius: 4px ;
  justify-content:  space-between;
  align-items:  center;
  margin: 20px 0;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.remove-btn {
  margin-right: 0.5rem;
}
.loader-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.post-enter {
  transform: translateX(-200px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: transform 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-600px);
  transition: transform 500ms ease-in;
}


.page__wrapper{
display:  flex;
}
.page{
  padding:  10px;
  margin-right: 10px;
  border: 1px solid green;

}
.page__current{
  border: 3px solid green;
  background:greenyellow;
  }
.navbar{
  height:  50px;
  width: 100vW;
  display: flex;
  align-items: center;
  padding:  0 15px;
  background-color: honeydew;
}
.navbar__links a{
  margin-right: 20px;
}

.post-page{
  margin-top: 40px;
  max-width: 800px;
  border:  1px solid blue;
  border-radius: 10px;
  padding: 10px 30px;
}
.page-comment{
  max-width:  500px;
  margin-top: 50px;
}
.page-comment-header{
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.page-comment-header__name{
  margin-right:  20px;
  font-weight: bold;
}
.page-comment__container{
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;

}

.login-form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}